In [87]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd

7

In [88]:
data = np.genfromtxt("train_final.csv",delimiter=",")
x_train = data[:,0:data.shape[1] - 1]
y_train = data[:,data.shape[1]-1]

x_train.shape,y_train.shape

((667, 4), (667,))

In [89]:
df = pd.DataFrame(x_train)
df.head()

     0          1    2    3
0  2.0  29.000000  0.0  1.0
1  3.0  30.857143  1.0  1.0
2  2.0  39.000000  1.0  1.0
3  3.0  29.000000  0.0  1.0
4  3.0  25.000000  1.0  1.0

In [90]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
#scaler = preprocessing.StandardScaler()
XTRAIN = scaler.fit_transform(x_train)

In [91]:
df = pd.DataFrame(XTRAIN)
df.head()

     0         1    2    3
0  0.5  0.357116  0.0  0.0
1  1.0  0.380526  1.0  0.0
2  0.5  0.483172  1.0  0.0
3  1.0  0.357116  0.0  0.0
4  1.0  0.306694  1.0  0.0

In [93]:
#complex boundary
M = df.columns.shape[0]
for i in range(M):
    df[str(i+1) + "_2"] = df[i]*df[i]

In [94]:
df.head()
XTRAIN = df.values

In [95]:
XTRAIN.shape

(667, 8)

In [96]:
from sklearn import model_selection
xtrain,xtest,ytrain,ytest = model_selection.train_test_split(XTRAIN,y_train,random_state=0)

In [99]:
alg = LogisticRegression(C=3,penalty='l2',solver='sag',max_iter=5000)
alg.fit(xtrain,ytrain)

LogisticRegression(C=3, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=5000, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='sag', tol=0.0001,
          verbose=0, warm_start=False)

In [100]:
alg.score(xtest,ytest),alg.score(xtrain,ytrain)

(0.844311377245509, 0.78)

In [61]:
alg.predict(xtrain) - ytrain

array([ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1., -1., -1.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,
        0., -1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
        0.,  0.,  1.,  0.,  0., -1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,
       -1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  1.,
        0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0., -1.,  0., -1.,  0.,
        0.,  0.,  0.,  0.,  1.,  0.,  0.,  0., -1.,  0.,  0.,  0.,  0.,
       -1.,  0.,  0.,  0., -1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,
       -1.,  0.,  0.,  0., -1.,  0.,  0., -1.,  1.,  0., -1., -1.,  0.,
        0.,  1.,  0., -1.,  0.,  0., -1.,  0.,  0., -1.,  0.,  0.,  0.,
        0.,  0.,  0.,  1., -1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0., -1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  1.,  0.,  0.,  0., -1.,  0.,  0., -1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  1.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,
        0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1., -1.,  0.,
        1.,  0., -1.,  0.,  0., -1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0., -1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0., -1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0., -1., -1.,  0.,
        0., -1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1., -1.,  0.,
       -1.,  0.,  0.,  1.,  0., -1.,  0.,  0.,  0.,  0., -1.,  0.,  1.,
        0.,  0.,  0.,  0.,  0.,  0.,  1.,  0., -1., -1.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0., -1.,
        0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0., -1.,  0.,  0.,  1.,  0., -1.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0., -1.,  0.,
        0., -1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0., -1.,
       -1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.,  0.,
        0.,  0.,  0.,  1., -1., -1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
        0., -1.,  1.,  0., -1.,  0.])

In [50]:
alg.predict_proba(xtest)

array([[0.3559151 , 0.6440849 ],
       [0.88094092, 0.11905908],
       [0.35206571, 0.64793429],
       [0.09758586, 0.90241414],
       [0.45490229, 0.54509771],
       [0.88094092, 0.11905908],
       [0.46823076, 0.53176924],
       [0.88094092, 0.11905908],
       [0.11550654, 0.88449346],
       [0.29039656, 0.70960344],
       [0.86591952, 0.13408048],
       [0.10888422, 0.89111578],
       [0.8014884 , 0.1985116 ],
       [0.55206832, 0.44793168],
       [0.80705594, 0.19294406],
       [0.20108686, 0.79891314],
       [0.86774347, 0.13225653],
       [0.91698153, 0.08301847],
       [0.28265579, 0.71734421],
       [0.15673566, 0.84326434],
       [0.36039471, 0.63960529],
       [0.48844026, 0.51155974],
       [0.13927156, 0.86072844],
       [0.93269141, 0.06730859],
       [0.73126785, 0.26873215],
       [0.81387002, 0.18612998],
       [0.14793508, 0.85206492],
       [0.10215717, 0.89784283],
       [0.68187845, 0.31812155],
       [0.18763242, 0.81236758],
       [0.88992136, 0.11007864],
       [0.86351489, 0.13648511],
       [0.88094092, 0.11905908],
       [0.54998294, 0.45001706],
       [0.66241022, 0.33758978],
       [0.71009947, 0.28990053],
       [0.72246099, 0.27753901],
       [0.53467625, 0.46532375],
       [0.29715933, 0.70284067],
       [0.82693816, 0.17306184],
       [0.93399993, 0.06600007],
       [0.88094092, 0.11905908],
       [0.60867425, 0.39132575],
       [0.85088154, 0.14911846],
       [0.477363  , 0.522637  ],
       [0.5109645 , 0.4890355 ],
       [0.82049698, 0.17950302],
       [0.3761411 , 0.6238589 ],
       [0.06500758, 0.93499242],
       [0.52429001, 0.47570999],
       [0.38510519, 0.61489481],
       [0.72392927, 0.27607073],
       [0.11041134, 0.88958866],
       [0.83801579, 0.16198421],
       [0.61117164, 0.38882836],
       [0.86774347, 0.13225653],
       [0.82008825, 0.17991175],
       [0.91168083, 0.08831917],
       [0.82049698, 0.17950302],
       [0.47929044, 0.52070956],
       [0.91102127, 0.08897873],
       [0.42136006, 0.57863994],
       [0.12110887, 0.87889113],
       [0.18234165, 0.81765835],
       [0.93705955, 0.06294045],
       [0.13087484, 0.86912516],
       [0.81387002, 0.18612998],
       [0.79705805, 0.20294195],
       [0.86774347, 0.13225653],
       [0.79286254, 0.20713746],
       [0.34812699, 0.65187301],
       [0.80705594, 0.19294406],
       [0.30653214, 0.69346786],
       [0.41087046, 0.58912954],
       [0.1623114 , 0.8376886 ],
       [0.78232755, 0.21767245],
       [0.5109645 , 0.4890355 ],
       [0.5109645 , 0.4890355 ],
       [0.1717268 , 0.8282732 ],
       [0.8331952 , 0.1668048 ],
       [0.13087484, 0.86912516],
       [0.04374932, 0.95625068],
       [0.83497624, 0.16502376],
       [0.85005547, 0.14994453],
       [0.90229831, 0.09770169],
       [0.60495118, 0.39504882],
       [0.1717268 , 0.8282732 ],
       [0.44024937, 0.55975063],
       [0.4283134 , 0.5716866 ],
       [0.40910065, 0.59089935],
       [0.9453497 , 0.0546503 ],
       [0.80005369, 0.19994631],
       [0.86774347, 0.13225653],
       [0.18096387, 0.81903613],
       [0.73548222, 0.26451778],
       [0.22819413, 0.77180587],
       [0.2234648 , 0.7765352 ],
       [0.70088264, 0.29911736],
       [0.14793508, 0.85206492],
       [0.30650732, 0.69349268],
       [0.88094092, 0.11905908],
       [0.386607  , 0.613393  ],
       [0.94759688, 0.05240312],
       [0.91393134, 0.08606866],
       [0.0487961 , 0.9512039 ],
       [0.25470341, 0.74529659],
       [0.35705882, 0.64294118],
       [0.90286944, 0.09713056],
       [0.68340715, 0.31659285],
       [0.32162582, 0.67837418],
       [0.92109681, 0.07890319],
       [0.34494304, 0.65505696],
       [0.85088154, 0.14911846],
       [0.82693816, 0.17306184],
       [0.7134786 , 0.2865214 ],
       [0.86774347, 0.13225653],
       [0.82693816, 0.17306184],
       [0.89890886, 0.10109114],
       [0.88094092, 0.11905908],
       [0.57685678, 0.42314322],
       [0.08031374, 0.91968626],
       [0.06274352, 0.93725648],
       [0.95333473, 0.04666527],
       [0.84516464, 0.15483536],
       [0.72272328, 0.27727672],
       [0.17819897, 0.82180103],
       [0.88094092, 0.11905908],
       [0.89055607, 0.10944393],
       [0.16550837, 0.83449163],
       [0.55206832, 0.44793168],
       [0.88615672, 0.11384328],
       [0.61661556, 0.38338444],
       [0.06346045, 0.93653955],
       [0.54569483, 0.45430517],
       [0.71009947, 0.28990053],
       [0.05501904, 0.94498096],
       [0.08031374, 0.91968626],
       [0.8792691 , 0.1207309 ],
       [0.90984565, 0.09015435],
       [0.48082027, 0.51917973],
       [0.65961077, 0.34038923],
       [0.81912787, 0.18087213],
       [0.36075139, 0.63924861],
       [0.80705594, 0.19294406],
       [0.27841047, 0.72158953],
       [0.86774347, 0.13225653],
       [0.0999612 , 0.9000388 ],
       [0.88636286, 0.11363714],
       [0.82374069, 0.17625931],
       [0.30385817, 0.69614183],
       [0.88615672, 0.11384328],
       [0.4062795 , 0.5937205 ],
       [0.8684691 , 0.1315309 ],
       [0.21557891, 0.78442109],
       [0.84516464, 0.15483536],
       [0.67944358, 0.32055642],
       [0.69243803, 0.30756197],
       [0.85332668, 0.14667332],
       [0.39999912, 0.60000088],
       [0.92056939, 0.07943061],
       [0.67021286, 0.32978714],
       [0.62166059, 0.37833941],
       [0.92383971, 0.07616029],
       [0.66682546, 0.33317454],
       [0.85088154, 0.14911846],
       [0.81387002, 0.18612998],
       [0.90287269, 0.09712731]])

In [84]:
alg1 = LogisticRegression(C = 30,max_iter=5000,solver='sag')
alg1.fit(XTRAIN,y_train)

LogisticRegression(C=30, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=5000, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='sag', tol=0.0001,
          verbose=0, warm_start=False)

In [77]:
test = np.genfromtxt("test_final.csv",delimiter=",")
TEST = scaler.transform(test)

In [78]:
df1 = pd.DataFrame(TEST)
df1.head()

     0         1      2         3    4    5
0  0.5  0.092399  0.125  0.166667  1.0  0.0
1  0.0  0.609227  0.000  0.000000  0.0  0.0
2  1.0  0.365874  0.000  0.000000  1.0  0.5
3  0.5  0.294088  0.250  0.166667  0.0  0.0
4  0.0  0.445355  0.000  0.000000  1.0  0.0

In [79]:
#complex boundary
M = df1.columns.shape[0]
for i in range(M):
    df1[str(i+1) + "_2"] = df1[i]*df1[i]

In [80]:
df1.head()

,0,1,2,3,4,5,1_2,2_2,3_2,4_2,5_2,6_2
0,0.5,0.092399,0.125,0.166667,1.0,0.0,0.25,0.008538,0.015625,0.027778,1.0,0.00
1,0.0,0.609227,0.000,0.000000,0.0,0.0,0.00,0.371158,0.000000,0.000000,0.0,0.00
2,1.0,0.365874,0.000,0.000000,1.0,0.5,1.00,0.133864,0.000000,0.000000,1.0,0.25
3,0.5,0.294088,0.250,0.166667,0.0,0.0,0.25,0.086488,0.062500,0.027778,0.0,0.00
4,0.0,0.445355,0.000,0.000000,1.0,0.0,0.00,0.198341,0.000000,0.000000,1.0,0.00

In [81]:
TEST = df1.values
TEST.shape

(223, 12)

In [85]:
y_pred = alg1.predict(TEST)

In [86]:
np.savetxt("predictions.csv",y_pred, delimiter=",", fmt='%s')